@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
/* root varibale */
/* Box sizing rules */
*, :is(::before, ::after) {
  box-sizing: border-box;
}

body,
p, figure,
blockquote,
dl, dd,
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

:is(ul, ol) :is([role=list]) {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-width: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input, button,
textarea, select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  display: grid;
  place-content: center;
  min-height: 100vh;
  font-family: var(--ff-primary, "Open Sans", sans-serif);
  font-weight: var(--fw-400, 0.8125rem);
  background-color: var(--clr-neutral-200, hsl(210, 64%, 95%));
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 800;
}

.flow > * + * {
  margin: 1em;
}

.flex {
  display: flex;
  gap: 1em;
}

.bg-primary-400 {
  background: hsl(263, 55%, 52%);
}

.bg-secondary-400 {
  background: hsl(217, 19%, 35%);
}

.bg-neutral-100 {
  background: hsl(0, 0%, 100%);
}

.bg-secondary-500 {
  background: hsl(219, 29%, 14%);
}

.text-neutral-100 {
  color: hsl(0, 0%, 100%);
}

.text-secondary-400 {
  color: hsl(217, 19%, 35%);
}

.testimonial-grid {
  padding-block: 2rem;
  width: min(95%, 70rem);
  margin-inline: auto;
  display: grid;
  gap: 2rem;
  grid-auto-columns: 1fr;
  grid-template-areas: "one" "two" "three" "four" "five";
}

.testimonial:nth-child(1) {
  grid-area: one;
}

.testimonial:nth-child(2) {
  grid-area: two;
}

.testimonial:nth-child(3) {
  grid-area: three;
}

.testimonial:nth-child(4) {
  grid-area: four;
}

.testimonial:nth-child(5) {
  grid-area: five;
}

.testimonial {
  font-size: 0.8125rem;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 2.5rem 3.75rem 3rem -3rem hsla(217, 19%, 35%, 0.25);
}
.testimonial.quote {
  background-image: url("./learn-grid-the-easy-way-main/images/bg-pattern-quotation.svg");
  background-repeat: no-repeat;
  background-position: top right 10%;
}
.testimonial img {
  width: 1.75rem;
  aspect-ratio: 1;
  border-radius: 50%;
}
.testimonial .name {
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1;
}
.testimonial .position {
  font-size: 0.6875rem;
  opacity: 0.5;
}
.testimonial > p:first-of-type {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.2;
}
.testimonial > p:last-of-type {
  opacity: 0.7;
}

@media (min-width: 30em) {
  .testimonial-grid {
    grid-template-areas: "one one" "two five" "three five" "four four";
  }
}
@media (min-width: 50em) {
  .testimonial-grid {
    grid-template-areas: "one one two five" "three four four five";
  }
}